<main>
    <div
            id="canvas"
            ngFlowchartCanvas
            [ngFlowchartOptions]="options"
            [ngFlowchartCallbacks]="callbacks"
    ></div>
    <div id="palette">
        <section>
            <div
                    class="plugin-op"
                    *ngFor="let item of items"
                    [ngFlowchartStep]="{
          template: normalStep,
          type: item.type,
          data: item.data
        }"
            >
                <div class="plugin-op__item">
                    <img alt="" src="assets/images/icons/{{item.data.icon.name}}">
                </div>
            </div>
            <div
                    class="plugin-op"
                    *ngFor="let op of customOps"
                    [ngFlowchartStep]="op.step"
            >
                <div class="plugin-op__item plugin-op__item_long">
                    <span>{{ op.paletteName }}</span>
                </div>
            </div>
        </section>
        <section>
            <button (click)="clearData()">Clear</button>
        </section>
        <ng-template #normalStep let-data>
            <div
                    class="card"
                    [attr.name]="data.data.name"
                    #card
            >
                <div (click)="this.delete(data.id)"
                     class="dialog-close">×
                </div>
                <img src="assets/images/icons/{{data.data.icon.name}}" alt="">
            </div>
        </ng-template>
    </div>
</main>
