.select {
  padding: 1em;
  background: white;
  box-shadow: 0px 4px 2em rgb(22 33 74 / 5%);
  border-radius: 4px;
  min-width: 12em;
  height: 4em;

  &__search {
    &-wrap {
    }

    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 30px;
    padding: 0 11px;
    outline: none;
  }
}


.wrapper {
  position: relative;
}

.caret {
  position: absolute;
  right: 6px;
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
}

.cascade-wrapper {
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  position: relative;
  background-color: transparent;
  cursor: pointer;


  &:focus {
    outline: none;
  }
}

.caret-down {
  border-top-color: black;
  top: 11px;
}

.close {
  position: absolute;
  right: 23px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  top: 4px;
  width: 15px;
}

.input-wrapper {
  & > input {
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .selected-option {
    position: absolute;
  }
}

.dropdown-wrapper {
  ul {
    position: absolute;
    min-width: 200px;
    min-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 0px;
    background: #fff;
    z-index: 1;
    margin: 0px;

    li {
      list-style-type: none;
      padding: 5px 10px;
      position: relative;
      color: #000;
      font-weight: initial;
      cursor: pointer;

      .caret-right {
        border-left-color: #000;
        top: 7px;
      }

      .active-caret-right {
        border-left-color: #fff;
        top: 7px;
      }

      &:hover {
        background-color: #b9d0e6;
      }

      &.active {
        background-color: #2f5e87;
        color: #fff;
        font-weight: 550;
      }

      &.disable {
        color: gray;
        pointer-events: none;
      }
    }
  }

  .main-nav {
    min-width: 120px;
    z-index: 5000;
    margin-top: 0px;

    .submenu {
      min-width: 120px;
      left: 100%;
      top: 0px;
      z-index: 100000;
    }
  }

  &:focus {
    outline: none;
  }
}
